.checkout_products {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
  margin-top: 10px;
}

.checkout_product {
  display: flex;
  flex-wrap: wrap;
}

.product_item{
    display: flex;
}

.checkout_product_image{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkout_product_info{
    width: 936px;
    height: 184px;
    padding-left: 50px;
}

.checkout_product_rating{
    display: flex;
}

.star{
    font-size: 15px;
    margin-right: 5px;
}

.star.filled{
    color: gold;
}

.star.empty{
    color: gray;
}

.star.half{
    background: linear-gradient(90deg, gold 50%, gray 50%);
    -webkit-background-clip: text;
    color: transparent;
}



.remove_item_button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 7px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product_price{
    margin-top: 5px;
}


.dollar{
    vertical-align: super;
}

.price{
    font-size: 20px;
    font-weight: 400;
}

