.checkout{
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: max-content;
    position: relative;
    top: 90px
}

.checkout_title{
    margin: 0 10px 0 0;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}