.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    /* background-color: #e3e6e6; */
}



.home_container{
    position: relative;
}

.home_image{
    width: 100%;
    z-index: -1;
    margin-bottom: -355px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
}