.subtotal{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 300px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal_gift{
    display: flex;
    align-items: center;
}

.subtotal_gift input{
    margin: 0 5px 0 0;
}

.subtotal button{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid lightgray;
    margin: 10px 0 0 0;
    cursor: pointer;
}